/* Section 1
* --------------------------------------- */
#section1{
background-color:#F5F5F5;
}

/* Section 2
* --------------------------------------- */
#section2{
background-color:#D1F2A5;
}

/* Section 3
 * --------------------------------------- */
#section3{
background-color:#EFFAB4;
}


/* Section 4
 * --------------------------------------- */
#section4{
background-color:#FFC48C;
}
