/* Section 1
* --------------------------------------- */
#section1{
background-color:#F5F5F5;
}

/* Section 2
* --------------------------------------- */
#section2{
background-color:#8DCF3F;
}

.textContainer{
	text-align:center;
	width:60%;
	min-width:500px;
	padding:15px;
	margin:0 auto;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: rgba(255,255,255,0.3);
}

.nn{
	width:100px;
	float: left;
}

.dd{
	width:400px;
}

.tt{
	margin:0 auto;
}
/* Section 3
 * --------------------------------------- */
#section3{
background-color:#FDC44F;
}


/* Section 4
 * --------------------------------------- */
#section4{
background-color:#44DEDE;
}
