/* Section 1
* --------------------------------------- */
#section1{
background-color:#F5F5F5;
}

/* Section 2
* --------------------------------------- */
#section2{
background-color:#8DCF3F;
}

.textContainer{
	width:60%;
	padding:15px;
	margin:0 auto;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: rgba(255,255,255,0.3);
}
.tt{
	width:80%;
	margin:0 auto;
}
.nn{
	
	width:100px;
	float:left;
}

.dd{
	text-align:left;
	width:auto;
}


/* Section 3
 * --------------------------------------- */
#section3{
background-color:#FDC44F;
}


/* Section 4
 * --------------------------------------- */
#section4{
background-color:#44DEDE;
}
